This challege was taken from 8 weeks of sql by Danny Ma. <br>
https://8weeksqlchallenge.com/case-study-2/ <br>
These are my answers using SQLite in python.

In [1]:
%load_ext sql

In [2]:
%sql sqlite://

In [3]:
%%sql


DROP TABLE IF EXISTS runners;
CREATE TABLE runners (
  "runner_id" INTEGER,
  "registration_date" DATE
);
INSERT INTO runners
  ("runner_id", "registration_date")
VALUES
  (1, '2021-01-01'),
  (2, '2021-01-03'),
  (3, '2021-01-08'),
  (4, '2021-01-15');


DROP TABLE IF EXISTS customer_orders;
CREATE TABLE customer_orders (
  "order_id" INTEGER,
  "customer_id" INTEGER,
  "pizza_id" INTEGER,
  "exclusions" VARCHAR(4),
  "extras" VARCHAR(4),
  "order_time" TIMESTAMP
);

INSERT INTO customer_orders
  ("order_id", "customer_id", "pizza_id", "exclusions", "extras", "order_time")
VALUES
  ('1', '101', '1', '', '', '2020-01-01 18:05:02'),
  ('2', '101', '1', '', '', '2020-01-01 19:00:52'),
  ('3', '102', '1', '', '', '2020-01-02 12:51:23'),
  ('3', '102', '2', '', NULL, '2020-01-02 12:51:23'),
  ('4', '103', '1', '4', '', '2020-01-04 13:23:46'),
  ('4', '103', '1', '4', '', '2020-01-04 13:23:46'),
  ('4', '103', '2', '4', '', '2020-01-04 13:23:46'),
  ('5', '104', '1', 'null', '1', '2020-01-08 21:00:29'),
  ('6', '101', '2', 'null', 'null', '2020-01-08 21:03:13'),
  ('7', '105', '2', 'null', '1', '2020-01-08 21:20:29'),
  ('8', '102', '1', 'null', 'null', '2020-01-09 23:54:33'),
  ('9', '103', '1', '4', '1, 5', '2020-01-10 11:22:59'),
  ('10', '104', '1', 'null', 'null', '2020-01-11 18:34:49'),
  ('10', '104', '1', '2, 6', '1, 4', '2020-01-11 18:34:49');


DROP TABLE IF EXISTS runner_orders;
CREATE TABLE runner_orders (
  "order_id" INTEGER,
  "runner_id" INTEGER,
  "pickup_time" VARCHAR(19),
  "distance" VARCHAR(7),
  "duration" VARCHAR(10),
  "cancellation" VARCHAR(23)
);

INSERT INTO runner_orders
  ("order_id", "runner_id", "pickup_time", "distance", "duration", "cancellation")
VALUES
  ('1', '1', '2020-01-01 18:15:34', '20km', '32 minutes', ''),
  ('2', '1', '2020-01-01 19:10:54', '20km', '27 minutes', ''),
  ('3', '1', '2020-01-02 00:12:37', '13.4km', '20 mins', NULL),
  ('4', '2', '2020-01-04 13:53:03', '23.4', '40', NULL),
  ('5', '3', '2020-01-08 21:10:57', '10', '15', NULL),
  ('6', '3', 'null', 'null', 'null', 'Restaurant Cancellation'),
  ('7', '2', '2020-01-08 21:30:45', '25km', '25mins', 'null'),
  ('8', '2', '2020-01-10 00:15:02', '23.4 km', '15 minute', 'null'),
  ('9', '2', 'null', 'null', 'null', 'Customer Cancellation'),
  ('10', '1', '2020-01-11 18:50:20', '10km', '10minutes', 'null');


DROP TABLE IF EXISTS pizza_names;
CREATE TABLE pizza_names (
  "pizza_id" INTEGER,
  "pizza_name" TEXT
);
INSERT INTO pizza_names
  ("pizza_id", "pizza_name")
VALUES
  (1, 'Meatlovers'),
  (2, 'Vegetarian');


DROP TABLE IF EXISTS pizza_recipes;
CREATE TABLE pizza_recipes (
  "pizza_id" INTEGER,
  "toppings" TEXT
);
INSERT INTO pizza_recipes
  ("pizza_id", "toppings")
VALUES
  (1, '1, 2, 3, 4, 5, 6, 8, 10'),
  (2, '4, 6, 7, 9, 11, 12');


DROP TABLE IF EXISTS pizza_toppings;
CREATE TABLE pizza_toppings (
  "topping_id" INTEGER,
  "topping_name" TEXT
);
INSERT INTO pizza_toppings
  ("topping_id", "topping_name")
VALUES
  (1, 'Bacon'),
  (2, 'BBQ Sauce'),
  (3, 'Beef'),
  (4, 'Cheese'),
  (5, 'Chicken'),
  (6, 'Mushrooms'),
  (7, 'Onions'),
  (8, 'Pepperoni'),
  (9, 'Peppers'),
  (10, 'Salami'),
  (11, 'Tomatoes'),
  (12, 'Tomato Sauce');

 * sqlite://
Done.
Done.
4 rows affected.
Done.
Done.
14 rows affected.
Done.
Done.
10 rows affected.
Done.
Done.
2 rows affected.
Done.
Done.
2 rows affected.
Done.
Done.
12 rows affected.

[]

How many pizzas were ordered?

In [4]:
%%sql

SELECT COUNT(order_id) AS 'Number of Orders' 
FROM customer_orders;

 * sqlite://
Done.

[(14,)]

How many unique customer orders were made?

In [5]:
%%sql

SELECT COUNT(DISTINCT(customer_id)) AS 'Number of Unique Customers'
FROM customer_orders;

 * sqlite://
Done.

[(5,)]

How many successful orders were delivered by each runner?

In [6]:
%%sql

UPDATE runner_orders
SET cancellation = NULL
WHERE cancellation = '' OR cancellation = 'null';

SELECT COUNT(*) AS 'Successful Orders'
FROM runner_orders
WHERE cancellation IS NULL;

 * sqlite://
5 rows affected.
Done.

[(8,)]

How many of each type of pizza was delivered?

In [7]:
%%sql

SELECT pizza_name AS 'Pizza', COUNT(pizza_id) AS 'Number Delivered'
FROM runner_orders
INNER JOIN customer_orders USING (order_id)
INNER JOIN pizza_names USING(pizza_id)
WHERE cancellation IS NULL
GROUP BY pizza_id;

 * sqlite://
Done.

[('Meatlovers', 9), ('Vegetarian', 3)]

How many Vegetarian and Meatlovers were ordered by each customer?

In [8]:
%%sql

SELECT customer_id AS 'Customer', pizza_name AS 'Pizza', COUNT(pizza_name) AS 'Number Ordered'
FROM customer_orders
INNER JOIN pizza_names USING(pizza_id)
GROUP BY customer_id, pizza_name;

 * sqlite://
Done.

[(101, 'Meatlovers', 2),
 (101, 'Vegetarian', 1),
 (102, 'Meatlovers', 2),
 (102, 'Vegetarian', 1),
 (103, 'Meatlovers', 3),
 (103, 'Vegetarian', 1),
 (104, 'Meatlovers', 3),
 (105, 'Vegetarian', 1)]

What was the maximum number of pizzas delivered in a single order?

In [9]:
%%sql

SELECT COUNT(order_id) AS 'Maximum number of pizzas in one order'
FROM runner_orders
INNER JOIN customer_orders USING (order_id)
WHERE cancellation IS NULL
GROUP BY order_id
ORDER BY COUNT(order_id) DESC
LIMIT 1;

 * sqlite://
Done.

[(3,)]

For each customer, how many delivered pizzas had at least 1 change and how many had no changes?

In [10]:
%%sql

UPDATE customer_orders
SET exclusions = NULL 
WHERE exclusions = '' OR exclusions = 'null';

UPDATE customer_orders
SET extras = NULL 
WHERE extras = '' OR extras = 'null';

SELECT 
        COUNT(CASE 
            WHEN exclusions IS NOT NULL OR extras IS NOT NULL THEN 1
            ELSE NULL
            END) AS 'Pizzas with changes',

        COUNT(CASE 
            WHEN exclusions IS NULL AND extras IS NULL THEN 1
            ELSE NULL
            END) AS 'Pizzas without changes'
        
FROM runner_orders
INNER JOIN customer_orders USING (order_id)
WHERE cancellation IS NULL;

 * sqlite://
9 rows affected.
9 rows affected.
Done.

[(6, 6)]

How many pizzas were delivered that had both exclusions and extras?

In [11]:
%%sql

SELECT COUNT(*) AS 'Delivered Pizza with both Exclusions and Extras'
FROM runner_orders
INNER JOIN customer_orders USING (order_id)
WHERE cancellation IS NULL AND exclusions IS NOT NULL AND extras IS NOT NULL;

 * sqlite://
Done.

[(1,)]

What was the total volume of pizzas ordered for each hour of the day?

In [12]:
%%sql

SELECT strftime('%H', order_time) AS 'Hour', COUNT(strftime('%H', order_time)) AS 'Number of Orders'
FROM customer_orders
GROUP BY strftime('%H', order_time);

 * sqlite://
Done.

[('11', 1), ('12', 2), ('13', 3), ('18', 3), ('19', 1), ('21', 3), ('23', 1)]

What was the volume of orders for each day of the week?

In [13]:
%%sql

SELECT strftime('%w', order_time) AS 'Day of the Week', COUNT(strftime('%w', order_time)) AS 'Number of Orders'
FROM customer_orders
GROUP BY strftime('%w', order_time);

 * sqlite://
Done.

[('3', 5), ('4', 3), ('5', 1), ('6', 5)]

How many runners signed up for each 1 week period?

In [14]:
%%sql

SELECT strftime('%W', registration_date) AS 'Week', COUNT(strftime('%W', registration_date)) AS 'Number Registered'
FROM runners
GROUP BY strftime('%W', registration_date);

 * sqlite://
Done.

[('00', 2), ('01', 1), ('02', 1)]

What was the average time in minutes it took for each runner to arrive at the Pizza Runner HQ to pickup the order?

In [15]:
%%sql

UPDATE runner_orders
SET pickup_time = REPLACE(pickup_time, '2020-01-02 00:12:37', '2020-01-02 13:12:37');

UPDATE runner_orders
SET pickup_time = NULL 
WHERE pickup_time = '' OR pickup_time = 'null';

SELECT runner_id, ROUND(AVG((julianday(pickup_time) - julianday(order_time)) * 24 * 60),0) AS 'Average Time to Pickup'
FROM runners
LEFT JOIN runner_orders USING(runner_id)
LEFT JOIN customer_orders USING(order_id)
WHERE cancellation IS NULL
GROUP BY runner_id;

 * sqlite://
10 rows affected.
2 rows affected.
Done.

[(1, 16.0), (2, 24.0), (3, 10.0), (4, None)]

Is there any relationship between the number of pizzas and how long the order takes to prepare?

In [16]:
%%sql

SELECT order_id, COUNT(order_id) AS 'Number of pizzas', ROUND(((julianday(pickup_time) - julianday(order_time)) * 24 * 60),0) AS 'Time to prep'
FROM customer_orders
INNER JOIN runner_orders USING (order_id)
WHERE cancellation IS NULL
GROUP BY order_id;

 * sqlite://
Done.

[(1, 1, 11.0),
 (2, 1, 10.0),
 (3, 2, 21.0),
 (4, 3, 29.0),
 (5, 1, 10.0),
 (7, 1, 10.0),
 (8, 1, 20.0),
 (10, 2, 16.0)]

What was the average distance travelled for each customer?

In [17]:
%%sql

UPDATE runner_orders
SET distance = REPLACE(distance,'km','');

UPDATE runner_orders
SET distance = NULL 
WHERE distance = '' OR distance = 'null';

SELECT customer_id AS 'Customer', ROUND(AVG(distance),0) AS 'Average Distance (km)'
FROM customer_orders
INNER JOIN runner_orders USING (order_id)
WHERE cancellation IS NULL
GROUP BY customer_id;

 * sqlite://
10 rows affected.
2 rows affected.
Done.

[(101, 20.0), (102, 17.0), (103, 23.0), (104, 10.0), (105, 25.0)]

What was the difference between the longest and shortest delivery times for all orders?

In [18]:
%%sql

UPDATE runner_orders
SET duration = REPLACE(duration,'minutes','');

UPDATE runner_orders
SET duration = REPLACE(duration,'minute','');

UPDATE runner_orders
SET duration = REPLACE(duration,'mins','');

UPDATE runner_orders
SET duration = NULL 
WHERE duration = '' OR duration = 'null';

SELECT MAX(duration) - MIN(duration) AS 'Difference Between Longest and Shortest Delivery Times (minutes)'
FROM runner_orders;

 * sqlite://
10 rows affected.
10 rows affected.
10 rows affected.
2 rows affected.
Done.

[(30,)]

What was the average speed for each runner for each delivery and do you notice any trend for these values?

In [19]:
%%sql

SELECT runner_id, order_id, distance AS 'Distance (km)', duration AS 'Duration (min)', ROUND(CAST(distance AS FLOAT)/CAST(duration AS FLOAT),2) AS 'Speed (km/min)'
FROM runner_orders
WHERE cancellation IS NULL
ORDER BY runner_id;

 * sqlite://
Done.

[(1, 1, '20', '32 ', 0.62),
 (1, 2, '20', '27 ', 0.74),
 (1, 3, '13.4', '20 ', 0.67),
 (1, 10, '10', '10', 1.0),
 (2, 4, '23.4', '40', 0.58),
 (2, 7, '25', '25', 1.0),
 (2, 8, '23.4 ', '15 ', 1.56),
 (3, 5, '10', '15', 0.67)]

What is the successful delivery percentage for each runner?

In [20]:
%%sql

SELECT runner_id, (COUNT(*) - COUNT(cancellation))*100  / COUNT(*) AS 'Successful Delivery Percentage'
FROM runner_orders
GROUP BY runner_id;

 * sqlite://
Done.

[(1, 100), (2, 75), (3, 50)]

What are the standard ingredients for each pizza?

In [21]:
%%sql

DROP VIEW pizza_toppings_reciepe;

CREATE VIEW pizza_toppings_reciepe AS

WITH RECURSIVE split(pizza_id, toppings, str) AS (
    SELECT pizza_id, '', toppings||',' FROM pizza_recipes
    UNION ALL SELECT
    pizza_id,
    substr(str, 0, instr(str, ',')),
    substr(str, instr(str, ',')+1)
    FROM split WHERE str!=''
) 
SELECT s.pizza_id, pn.pizza_name, s.toppings, pt.topping_name
FROM split s
INNER JOIN pizza_names pn USING(pizza_id) 
INNER JOIN pizza_toppings pt ON toppings = topping_id 
WHERE toppings!=''
ORDER BY pizza_id;

 * sqlite://
(sqlite3.OperationalError) no such view: pizza_toppings_reciepe
[SQL: DROP VIEW pizza_toppings_reciepe;]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [22]:
%%sql

SELECT *
FROM pizza_toppings_reciepe;

 * sqlite://
(sqlite3.OperationalError) no such table: pizza_toppings_reciepe
[SQL: SELECT * FROM pizza_toppings_reciepe;]
(Background on this error at: http://sqlalche.me/e/e3q8)